BOT_TOKEN=MTIyMTM1NjQxNDMzMzg4MjM4OA.G_NdbG.EC-pdp9FO54wqgIrmmD72HDgwDUDDhpwnQZ-Mk
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1221358133260189827/1KfCtsfy7SzDBYDfFwniuXHSCAilCYXC-q0DHc2Dfnz4ylRC_RSwnNPn6sjffDjN58an
GLOBAL_BOT_PREFIX=v3
CREATOR_IDS=212445217763229699
MESSAGE_BATCH_SIZE=10
PASTE_CREATE_ENDPOINT=host your own haste-server instance to get this
PGUSER=postgresusername
PGPASSWORD=postgrespassword
PGHOST=localhost
PGDATABASE=logger
REDIS_LOCK_TTL=2000
AES_KEY=youraeskey
MESSAGE_HISTORY_DAYS=how many days as an int you want to be wiped from db
BEZERK_URI=ws://localhost:1234
BEZERK_SECRET=https://github.com/thesharks/bezerk
RAVEN_URI=sentry uri from sentry.io
STAT_SUBMISSION_INTERVAL=
